# Machine Learning Project 2

In [1]:
'''
    In case interviewer ask which project do : i should tell,
    *** i have done [AUTO MOBILE PROJECT] and it's regression problems
    
    in this project we are going  to find vehicle price.
    this is reggression problem 
'''

"\n    In case interviewer ask which project do : i should tell,\n    *** i have done [AUTO MOBILE PROJECT] and it's regression problems\n    \n    in this project we are going  to find vehicle price.\n    this is reggression problem \n"

In [2]:
import pandas as pd
import numpy as np

In [3]:
#even though our file is auto.txt file, we will call it as
#CSV FIle , CSV called as Camma Separated values

## Step 1 : Load the Data

In [4]:
car_data =pd.read_csv('auto.txt')

In [5]:
car_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
#26 columns : don't say it is column , called as Features
#

# # Step 2 : Clean the Data

In [7]:
#less remove thw unwanted symbols from the data
'''
--> We are going to give this data to Machine learning algotithm
-->   all these algorithm are written with maths-probability,statics, calculate
-->  so algorithms will understand only numbers.
--> 1. so we should remove symbol
--> 2. so we should removed empty cells.
--> 3. so we should removed text / we have to converted text to number
--> 4. and we should remove dupplicated columns
--> 5.we should remove unwanted columns
    
'''

'\n--> We are going to give this data to Machine learning algotithm\n-->   all these algorithm are written with maths-probability,statics, calculate\n-->  so algorithms will understand only numbers.\n--> 1. so we should remove symbol\n--> 2. so we should removed empty cells.\n--> 3. so we should removed text / we have to converted text to number\n--> 4. and we should remove dupplicated columns\n--> 5.we should remove unwanted columns\n    \n'

In [8]:
# now wherever symbol is thr we have replace or remove

In [9]:
car_data = car_data.replace('?',np.nan) #NAN = Not a number

In [10]:
car_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [11]:
car_data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [12]:
car_data.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164,205,205,205,203,205,205,205,205.000000,...,205.000000,205,201,201,205.000000,203,203,205.000000,205.000000,201
unique,NaN,51,22,2,2,2,5,3,2,NaN,...,NaN,8,38,36,NaN,59,23,NaN,NaN,186
top,NaN,161,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,5572
freq,NaN,11,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,2
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [13]:
car_data['price'].describe()

count      201
unique     186
top       5572
freq         2
Name: price, dtype: object

In [14]:
#price is look number but it's showing internally dtype of object
#so machine will understand only number that is called as 0 or 1
# so it's consider only integer and float value

In [15]:
# now convert to dtype object to Integer for price column

In [16]:
#we have to convert this column to float type
car_data['price'] =pd.to_numeric(car_data['price'],errors='coerce')
#coerce that means ignore the error

In [17]:
car_data['price'].describe()

count      201.000000
mean     13207.129353
std       7947.066342
min       5118.000000
25%       7775.000000
50%      10295.000000
75%      16500.000000
max      45400.000000
Name: price, dtype: float64

In [18]:
# in data science - axis 0 means rows, axis 1 means columns
car_data = car_data.drop('normalized-losses',axis=1)

In [19]:
car_data

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [20]:
car_data['horsepower'].describe()

count     203
unique     59
top        68
freq       19
Name: horsepower, dtype: object

In [21]:
car_data['horsepower'] =pd.to_numeric(car_data['horsepower'],errors='coerce' )

In [22]:
car_data['horsepower'].describe()

count    203.000000
mean     104.256158
std       39.714369
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      288.000000
Name: horsepower, dtype: float64

In [23]:
car_data['num-of-doors'].describe()

count      203
unique       2
top       four
freq       114
Name: num-of-doors, dtype: object

In [24]:
car_data['num-of-doors']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [25]:
doors_dict = {
    'two' : 2,
    'four' : 4
}

In [26]:
car_data['num-of-doors'].replace(doors_dict,inplace=True)
#inplace means modify the data

In [27]:
car_data['num-of-doors'].head()

0    2.0
1    2.0
2    2.0
3    4.0
4    4.0
Name: num-of-doors, dtype: float64

In [28]:
'''
for any given column if values are limited..then it is categorical
categorical values make,body-style, etc..using one-hot[10]represnetation
'''

'\nfor any given column if values are limited..then it is categorical\ncategorical values make,body-style, etc..using one-hot[10]represnetation\n'

In [29]:
car_data = pd.get_dummies(car_data,columns=['make','fuel-type',
    'aspiration','body-style','engine-location','engine-type','fuel-system','drive-wheels'])

In [30]:
car_data.head()

,symboling,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,...,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
1,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
2,1,2.0,94.5,171.2,65.5,52.4,2823,six,152,2.68,...,0,0,0,0,1,0,0,0,0,1
3,2,4.0,99.8,176.6,66.2,54.3,2337,four,109,3.19,...,0,0,0,0,1,0,0,0,1,0
4,2,4.0,99.4,176.6,66.4,54.3,2824,five,136,3.19,...,0,0,0,0,1,0,0,1,0,0

In [31]:
car_data

,symboling,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,...,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
1,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
2,1,2.0,94.5,171.2,65.5,52.4,2823,six,152,2.68,...,0,0,0,0,1,0,0,0,0,1
3,2,4.0,99.8,176.6,66.2,54.3,2337,four,109,3.19,...,0,0,0,0,1,0,0,0,1,0
4,2,4.0,99.4,176.6,66.4,54.3,2824,five,136,3.19,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,4.0,109.1,188.8,68.9,55.5,2952,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1
201,-1,4.0,109.1,188.8,68.8,55.5,3049,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1
202,-1,4.0,109.1,188.8,68.9,55.5,3012,six,173,3.58,...,0,0,0,0,1,0,0,0,0,1
203,-1,4.0,109.1,188.8,68.9,55.5,3217,six,145,3.01,...,0,0,1,0,0,0,0,0,0,1
204,-1,4.0,109.1,188.8,68.9,55.5,3062,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1

In [32]:
#205 rows × 68 columns, before drop predefined function rows and columns

In [ ]:
'''
************** IMP
 dropna is a predefined function of machine learning,
 using this function we can remove the rows wher ever ther are
 empty cells otherwise where ever we have null values

Why we need to remove nulls or empty cells.
Reason : ML Algorithms internally uses maths,so it wont understand empty
cells and nulls

'''

In [33]:
#lets clean up our data......
car_data=car_data.dropna()

In [34]:
car_data

,symboling,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,...,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi,drive-wheels_4wd,drive-wheels_fwd,drive-wheels_rwd
0,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
1,3,2.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,...,0,0,0,0,1,0,0,0,0,1
2,1,2.0,94.5,171.2,65.5,52.4,2823,six,152,2.68,...,0,0,0,0,1,0,0,0,0,1
3,2,4.0,99.8,176.6,66.2,54.3,2337,four,109,3.19,...,0,0,0,0,1,0,0,0,1,0
4,2,4.0,99.4,176.6,66.4,54.3,2824,five,136,3.19,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,4.0,109.1,188.8,68.9,55.5,2952,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1
201,-1,4.0,109.1,188.8,68.8,55.5,3049,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1
202,-1,4.0,109.1,188.8,68.9,55.5,3012,six,173,3.58,...,0,0,0,0,1,0,0,0,0,1
203,-1,4.0,109.1,188.8,68.9,55.5,3217,six,145,3.01,...,0,0,1,0,0,0,0,0,0,1
204,-1,4.0,109.1,188.8,68.9,55.5,3062,four,141,3.78,...,0,0,0,0,1,0,0,0,0,1

In [35]:
#after using dropna function the rows values is less 193 rows × 68 columns

In [40]:
#how can i see the all the column in data,,

car_data['make_volkswagen']

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    0
204    0
Name: make_volkswagen, Length: 193, dtype: uint8

In [41]:
# lets see if our data set has any null values??
# check any null values in data or not
car_data[car_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [symboling, num-of-doors, wheel-base, length, width, height, curb-weight, num-of-cylinders, engine-size, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price, make_alfa-romero, make_audi, make_bmw, make_chevrolet, make_dodge, make_honda, make_isuzu, make_jaguar, make_mazda, make_mercedes-benz, make_mercury, make_mitsubishi, make_nissan, make_peugot, make_plymouth, make_porsche, make_renault, make_saab, make_subaru, make_toyota, make_volkswagen, make_volvo, fuel-type_diesel, fuel-type_gas, aspiration_std, aspiration_turbo, body-style_convertible, body-style_hardtop, body-style_hatchback, body-style_sedan, body-style_wagon, engine-location_front, engine-location_rear, engine-type_dohc, engine-type_dohcv, engine-type_l, engine-type_ohc, engine-type_ohcf, engine-type_ohcv, engine-type_rotor, fuel-system_1bbl, fuel-system_2bbl, fuel-system_4bbl, fuel-system_idi, fuel-system_mfi, fuel-system_mpfi, fuel-system_spdi, fuel-system_spfi, drive-wheels_4wd, drive-wheels_fwd, drive-wheels_rwd]
Index: []

[0 rows x 68 columns]

# #step 3 : Split the data

In [ ]:
'''
    Total we have 194 data(vehicle details)
    We will split this data for training and testing purpose
    65% training Data & 35% testing Data [or]
    70% training data & 30% testing data [or]
    80% training data & 20% testing Data [or]
    
 so if we give vehicle details.. we need to find the price..
 so price column will be y & remaining columns will be x
'''

In [42]:
# now apply split the data 80% training data & 20% testing Data

In [ ]:
'''
First check the which one is input and which one is the output 
based on the input output x = input, y = outpt so now we have
split out put one part input one part
'''

In [49]:
x =car_data.drop('price',axis=1)

In [52]:
y =car_data['price']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# #Step 4 : Training the Model or algorithm

In [ ]:
'''
    for solving resgression problems we will use below algorithms
    1. LinearRegression algorithm
    2. Lasso Algorithm
    3. Ridge Algorithm
    4. support Vector Regression algortihm

'''

# # train the data using
## 1. LinearRegression Algorithm

In [56]:
from sklearn.linear_model import LinearRegression

In [59]:
linear_model =LinearRegression()

In [60]:
linear_model.fit(x_train,y_train)

ValueError: could not convert string to float: 'four'